.hidden-class{
    opacity: 0;
    transform: translateX(-10%);
    transition: all 0.9s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}


.hidden-class-up{
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s;
}

.show-up{
    opacity: 1;
    transform: translateY(0);
}

.hidden-class-l{
    opacity: 0;
    transform: translateX(10%);
    transition: all 0.5s;
}

.show-l{
    opacity: 1;
    transform: translateY(0);
}