@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: whitesmoke;
}

.grecaptcha-badge { 
    visibility: hidden;
}

html, body {
    overflow-x: hidden;
  }
body{
  position: relative;
}